vendor/
node_modules/
npm-debug.log
zpoubelle/
DOC/
.phpdoc/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
phpDocumentor.phar
build/
.phpdoc/
config/apidoc.php
public/docs/
resources/docs/
Homestead.yaml
Homestead.json
composer-setup.php
composer.phar


# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

public/.htaccess
