.bg-bleue {
  background: $bleue;
}

.bg-bleue-clair {
  background: $bleue-clair;
}

.bg-bleue-tres-clair {
  background: $bleue-tres-clair;
}

.bg-bleue-fonce {
  background: $bleue-fonce;
}
.bg-bleue-tres-fonce {
  background: $bleue-tres-fonce;
}

.color-bleue {
  color: $bleue;
}

.color-bleue-clair {
  color: $bleue-clair;
}

.color-bleue-tres-clair {
  color: $bleue-tres-clair;
}

.color-bleue-fonce {
  color: $bleue-fonce;
}

.color-bleue-tres-fonce {
  color: $bleue-tres-fonce;
}
