// affichage des données invalides dans la vérification des formulaires
.invalid {
	width: 100%;
	margin-top: 0.25rem;
	font-size: 80%;
	color: #e3342f;
}

// Affichage d'un mot en gros en arrière plan du texte
.titre-fond {
	white-space: nowrap;
	text-overflow: ellipsis;
	position: absolute;
	line-height: 0.5;
	font-size: 10rem;
	color: #f2f2f2ff;
	font-weight: bolder;
	z-index: -10000;
}

ul:hover > .titre-fond {
	color: $bleu-tres-tres-clair;
}



// redéfinition de quelques éléments
.btn {
  border-radius: 0 !important;
}

a {
  color: inherit;
}


.ajuste_hauteur {
  height: max-content;
}

.col-form-label {
  font-weight: bold;
}

// pour avoir une barre latérale fixe meme quand on scrolle
.bd-sidebar {
	position: -webkit-sticky;
	position: sticky;
	top: 4rem;
	z-index: 1000;
	height: calc(100vh - 44rem);
	-ms-flex-order: 0;
	order: 0;
}

.bd-content {
	-ms-flex-order: 1;
	order: 1;
}
// affficher les analyses proposées
.card-3 {
	min-width: 25vw;
	max-width: 30vw;
}

// gros bouton analyse terminée
#radioBtn .notActive{
    color: #3276b1 !important ;
    background-color: #fff !important;
}

.resultatExiste {
  font-weight: bold;
  color: $bleu-fonce;
}

footer {
  position: fixed;
  bottom: 0;
  background: black;
  color: $bleu-tres-clair;
}

.labo-divider {
  margin: 5rem 0;
}

hr {
  border-top: 1px solid rgba(0,0,0,.1);
}

.texte-plus-grand {
  font-size: 1.4rem;
}

.fond {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icone-cadre {
  width: 120px;
  border: solid 1px lightgray;
}

.icone-cadre > img {
  margin: auto;
}

.elements-infos {
  position: fixed;
  width: 50vw;
  top: 200px;
  left: 25vw;
  padding: 20px;
  background: lightgray;
  box-shadow: 1px 1px 5px gray;
}

.presentation_cadre {
  background: $bleu-tres-tres-clair;
  padding: 2.5rem;
  padding-bottom: 0rem;
}

.p-c-dernier {
  padding-bottom: 2.5rem;
}

.custom-lead {
  font-size: 1.25rem;
}


@media screen and (max-width: 992px) {

  .alert, .card-header {
    padding: 0.5rem 0.25rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  .lead {
    font-size: 1.1rem;
  }
  .bd-sidebar {
    position: -webkit-relative;
    position: relative;
    height: auto;
    top: 0;
    z-index: 1000;
    margin-bottom: 0.5rem;
  }

	.titre-fond {
		display: none;
	}

	.card-3 {
		min-width: 50vw;
		max-width: 100vw;
	}
}
