@page { margin: 180px 50px 200px 50px; }

#header {
  position: fixed;
  left: 0px;
  top: -160px;
  right: 0px;
  height: 150px;
  // background-color: lightgrey;
  text-align: left;
}
#footer {
  position: fixed;
  left: 0px;
  bottom: -90px;
  right: 0px;
  height: 40px;
  background-color: lightblue;
  padding-left: 20px
}
#footer .page:after {
  content: counter(page, upper-roman);
}

.page-break {
    page-break-after: always;
}

.adresseFibl {
  margin-bottom: 0 !important;
  font-size: 0.8rem;
}
.adresse {
  margin-bottom: 0 !important;
}

.adresseNom {
  font-size: 1rem;
}

.pdf-entete  {
  padding: 10px;
}

.pdf-table {
  width: 100%;
  font-size: 0.8rem;
}

.pdf-table-titre {
  background: $bleu-tres-fonce;
  color: white;
}

table, thead, tbody, tr, td {
  page-break-inside: avoid;
}

.pdf-titre {
  font-size: 1.2rem;
}

.ligne1 {
  padding: 0.2rem 0.5rem !important;
  width: 350px;
}

.lignes, .lignes > span {
  margin:0;
  padding: 0.2rem 0.5rem !important;
  font-size: 0.8rem;
}
