@page { margin: 180px 50px 100px 50px; }

#header {
  position: fixed;
  left: 0px;
  top: -160px;
  right: 0px;
  height: 150px;
  // background-color: lightgrey;
  text-align: left;
}
#footer {
  position: fixed;
  left: 0px;
  bottom: -80px;
  right: 0px;
  height: 50px;
  background-color: lightblue;
  padding-left: 20px
}
#footer .page:after {
  content: counter(page, upper-roman);
}

.page-break {
    page-break-after: always;
}

.adresseFibl {
  margin-bottom: 0 !important;
  font-size: 0.8rem;
}
.adresse {
  margin-bottom: 0 !important;
}

.adresseNom {
  font-size: 1.2rem;
}

.pdf-entete  {
  padding: 10px;
}

.pdf-table {
  width: 100%;
}

.pdf-table-titre {
  background: $bleu-tres-fonce;
  color: white;
}

.pdf-titre {
  font-size: 1.5rem;
}

.ligne1 {
  padding: 0.3rem 0.75rem !important;
  width: 350px;
}

.lignes {
  margin:0;
  padding: 0.3rem 0.75rem !important;
}
