// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import "scss/fontawesome.scss";
@import "scss/solid.scss";
// Variables
@import 'variables';
@import "couleurs";
@import 'menu';
@import "images";
@import "switch";
@import "entravaux";
@import "pdf";


// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Styles parasitlab
@import "parasitlab";

/**
  * bootstrap-table - An extended table to integration with some of the most widely used CSS frameworks. (Supports Bootstrap, Semantic UI, Bulma, Material Design, Foundation)
  */

.fix-sticky{position:fixed!important;overflow:hidden;z-index:100}.fix-sticky table thead{background:#fff}.fix-sticky table thead.thead-light{background:#e9ecef}.fix-sticky table thead.thead-dark{background:#212529}
